.main-header{
    display: flex;
    padding: 0px 30px;
    justify-content: space-between;
    align-items: center;
    background-color: #5665B0;
}

.login{
    background-color: #5665B0;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.register{
    background-color: green;
    border: none;
    color: white;
    font-size: 20px;
    padding: 10px 18px;
    border-radius: 20px;
    font-weight: 600;
}

.nav-links{
    display: flex;
    gap: 9px;
}
.nav-links a{
    text-decoration: none;
    color: white;
}